<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div id="contentWrap">
        <div id="content">

            <ul id="bread-crumbs" class="breadcrumb">
                <li>
                    <a href="/" title="Home"><i class="icon-home"></i></a>
                </li>
                <li class="crumb-divider">  </li>
                <li>
                    <a href="/administration">Administration</a>
                </li>
                <li class="crumb-divider">  </li>
                <li>
                    <a href="/user">Users</a>
                </li>
            </ul>

            <h1>User Groups</h1>

            <div class="divider"></div>



            <div id="center-stage">

















                <div id="groupx">

                    <div id="groupoupx_status" style="display:none;" class="ajax_status"></div>



                    <div id="tagFiltergroupx" class="tagfilter-pop-up dropdown-menu" style="display: none;"><input type="text" id="tagFilterSearchgroupx" value=""><div class="scroller"><ul id="tagFilterSelectorgroupx"><li></li></ul></div><a href="#"  style="float: left;">Clear filter</a>  <a href="/tag" style="float: right;">Manage tags</a></div><div id="groupoupx_module" class="module">

                        <div class="header clearfix">

                            <h2 id="groupx_h2"></h2>





                            <form id="groupx_filter" class="inline" onsubmit="new Ajax.Updater('groupx_table_div', '/group/table/ajax/1/dateText/Date+Range%3A+', {asynchronous:true, evalScripts:true, onComplete:function(request, json){$j(&quot;#indicator&quot;).fadeOut();toggleDisplay('groupoupx_status', true);}, onLoading:function(request, json){$j(&quot;#indicator&quot;).show();}, parameters:$('groupx_ajax_urlparams').value.replace('table_filter=','') + '&amp;'  + Form.serialize(this) }); return false;" action="/group/table/ajax/1/dateText/Date+Range%3A+" method="post">
                                <div style="display:none;"><input type="hidden" name="_csrf_token" value="764eaca250fa0da18bf44ee856a86d9ff68135dcb39110ce82c3d94a4263ff308b3f70ec0fdc5ab167963f2c97f20ccd"></div>
                                <p class="inline header">
                                    Filter:<br>
                                    <input type="text" name="table_filter" id="groupx_table_filter" value="" onkeyup="clearTimeout(hideAllMenusTimeout); hideAllMenusTimeout = setTimeout('$(&quot;groupx_filter&quot;).onsubmit()',600);" class="input-medium">
                                </p>
                            </form>
                            <br>
                            <form id="groupx_tagFilter" class="aaa inline tag-filter-form" onsubmit="new Ajax.Updater('groupx_table_div', '/group/table/ajax/1/dateText/Date+Range%3A+/table_filter', {asynchronous:true, evalScripts:true, onComplete:function(request, json){$j(&quot;#indicator&quot;).fadeOut();toggleDisplay('groupoupx_status', true);}, onLoading:function(request, json){$j(&quot;#indicator&quot;).show();}, parameters:$('groupx_ajax_urlparams').value.replace('tagFilter=','') + '&amp;'  + Form.serialize(this) }); return false;" action="/group/table/ajax/1/dateText/Date+Range%3A+/table_filter" method="post">
                                <div style="display:none;"><input type="hidden" name="_csrf_token" value="764eaca250fa0da18bf44ee856a86d9ff68135dcb39110ce82c3d94a4263ff308b3f70ec0fdc5ab167963f2c97f20ccd"></div>					<p class="inline header" id="tagFilterContainergroupx"><button  class="btn">Tags <span class="caret"></span></button><span id="tagFilterListgroupx"></span><input type="hidden" id="tagFilterInputgroupx" name="tagFilter" value=""></p>
                               
                            </form>

                            <div class="btn-group pull-right">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Tools			    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li><a href="#" onclick="new Ajax.Updater('groupoupx_status', '/tagObject/tagTableAjax', {asynchronous:true, evalScripts:true, onComplete:function(request, json){$j(&quot;#indicator&quot;).fadeOut();toggleDisplay('groupoupx_status', true);new Effect.Highlight('groupoupx_status', {duration:2});}, onLoading:function(request, json){$j(&quot;#indicator&quot;).show();if (navigator.userAgent &amp;&amp; navigator.userAgent.indexOf('MSIE') != -1) {toggleDisplay('groupoupx_table_footer', false); }}, parameters:'ajaxParams='+encodeURIComponent($('groupx_ajax_urlparams').value) + '&amp;ajaxUrl=group%2Ftable&amp;objectName=User+Groups' + '&amp;_csrf_token=b8b92b7c7dfb3c20ff06dc3298a17596fcd9221436996c0072ead71e03ceca5febd1d7495fe49415f23f6b9ce2552788'});; return false;"><i class="icon-tag"></i> Tag Entire Table</a>						</li>


                                </ul>
                            </div>


                            <span class="link_to_create pull-right">
                                <button id="us_link_create" class="btn btn-warning" ng-click="AddUserGroup()"><i class="icon-plus"></i> Add user group</button>
                                
                            </span>
                        </div>
                        <div id="groupoupx_wrapper" class="module-wrapper">
                            <div id="groupx_table_div">


                                <input type="hidden" id="groupx_ajax_urlparams" value="sort=groupx.name&amp;order=asc&amp;mode=manage&amp;tableName=group&amp;pageSize=5&amp;prefix=gr&amp;startDate=%401167627600&amp;endDate=now&amp;dateText=Date+Range%3A&amp;tagFilter=+&amp;ajaxElement=groupx&amp;numResults=0">
                                <table id="groupx_table" class="data-table table-bordered">
                                    <thead>
                                        <tr>


                                            <th class="first checkbox-column checkbox">


                                            </th>



                                            <th class="sortable sort-up name-column">

                                                <a href="#" onclick="new Ajax.Updater('groupx_table_div', '/group/table/ajax/1/page/1/order/desc/sort/groupx.name/mode/manage/tableName/group/pageSize/5/prefix/gr/startDate/%401167627600/endDate/now/dateText/Date+Range%3A/tagFilter/+/ajaxElement/groupx', {asynchronous:true, evalScripts:true, onComplete:function(request, json){$j(&quot;#indicator&quot;).fadeOut();}, onLoading:function(request, json){$j(&quot;#indicator&quot;).show();}, parameters:'_csrf_token=59548098c0cf0e279dea8185494b9347df6b0d2ead31a645d915659b3dc186b22be876cad8c58a59f84194a921208a15'});; return false;">Name</a>

                                                <i class="icon-circle-arrow-up muted"></i>
                                            </th>


                                            <th class="users-column">

                                                Users
                                            </th>



                                            <th class="updated-column">

                                                <a href="#" onclick="new Ajax.Updater('groupx_table_div', '/group/table/ajax/1/page/1/order/desc/sort/groupx.updated_at/mode/manage/tableName/group/pageSize/5/prefix/gr/startDate/%401167627600/endDate/now/dateText/Date+Range%3A/tagFilter/+/ajaxElement/groupx', {asynchronous:true, evalScripts:true, onComplete:function(request, json){$j(&quot;#indicator&quot;).fadeOut();}, onLoading:function(request, json){$j(&quot;#indicator&quot;).show();}, parameters:'_csrf_token=eee5bf645796c493975af0967625807cfac01016afb28a2b5c4d2936968724b98062860529f4b86d86b0ee609948b487'});; return false;">Updated</a>

                                            </th>


                                            <th class="actions-column last">

                                                Actions
                                            </th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="last">
                                                There are no user groups for this area.
                                            </td>
                                        </tr>
                                    </tfoot>


                                </table>




                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</body>
</html>
