 
<div class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a href="#/Dashboard" class="logo brand"><img alt="Salesforce Pardot" style="height:100px" src="/script/logo-2014.png"></a>
            <div class="nav-collapse">
                <ul class="nav pull-left">
                    <!-- Marketing -->



                    <li class="dropdown active">
                        <a class="dropdown-toggle" id="mark-tog"><i class="icon-magic"></i> <span>Marketing</span></a>
                        <ul id="dropmenu-marketing" class="dropdown-menu" aria-labelledby="mark-tog">
                            <li>
                                <a href="#/folders">Folders</a>	<ul class="dropdown-menu">
                                    <li><a href="#/folders">Folders</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header favorite-folders">Favorites</li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu" class="dropdown-menu">

                                <a href="#/automation">Automation</a>			<ul class="dropdown-menu">
                                    <li>
                                        <a href="#/automation/rules">Rules</a>
                                    </li>
                                    <li>
                                        <a href="#/dripProgram">Drip Programs</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#/calendar">Calendar</a></li>
                            <li data-shortcut="C">
                                <a href="#/campaign">Campaigns</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#/content">Content</a>						<ul class="dropdown-menu">
                                    <li>
                                        <a href="#/customUrl">Custom Redirects</a>
                                    </li>
                                    <li>
                                        <a href="#/dynamicContent">Dynamic Content</a>
                                    </li>
                                    <li>
                                        <a href="#/file">Files</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu" data-shortcut="E">
                                <a href="#/email">Emails</a>												<ul class="dropdown-menu">
                                    <li>
                                        <a href="#/email/index/view/alldraft">Drafts</a>
                                    </li>
                                    <li>
                                        <a href="#/email/index/view/scheduled">Scheduled</a>
                                    </li>
                                    <li>
                                        <a href="#/email/index/view/allsentlist">Sent</a>
                                    </li>
                                    <li>
                                        <a href="#/email/index/view/abtests">A/B Tests</a>
                                    </li>
                                    <li>
                                        <a href="#/emailTemplate">Templates</a>
                                    </li>
                                    <li>
                                        <a href="#/emailTest">Tests</a>
                                    </li>
                                    <li>
                                        <a href="#/emailPreferencesPage">Preferences Page</a>
                                    </li>
                                    <li>
                                        <a href="#/unsubscribeProspect">Unsubscribe Page</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#/email/draft/edit">New Email</a>
                                    </li>
                                    <li>
                                        <a href="#/email/template/draft/create">New Email Template</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#/form">Forms</a>												<ul class="dropdown-menu">
                                    <li>
                                        <a href="#/form/forms">Forms</a>
                                    </li>
                                    <li>
                                        <a href="#/formHandler">Form Handlers</a>
                                    </li>
                                    <li>
                                        <a href="#/layoutTemplate">Layout Templates</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#/form/wizard">New Form</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu" data-shortcut="L">
                                <a href="#/landingPage">Landing Pages</a>												<ul class="dropdown-menu">
                                    <li>
                                        <a href="#/landingPage/landingPages">Landing Pages</a>
                                    </li>
                                    <li>
                                        <a href="#/multivariateTest">Multivariate Tests</a>
                                    </li>
                                    <li>
                                        <a href="#/layoutTemplate">Layout Template</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#/landingPage/wizard">New Landing Page</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#/searchMarketing">Search Marketing</a>						<ul class="dropdown-menu">
                                    <li>
                                        <a href="#/keyword">Keywords</a>
                                    </li>
                                    <li>
                                        <a href="#/competitor">Competitors</a>
                                    </li>
                                    <li>
                                        <a href="#/paidSearchCampaign">Paid Search</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#/segmentation">Segmentation</a>						<ul class="dropdown-menu">
                                    <li>
                                        <a href="#/list">Lists</a>
                                    </li>
                                    <li>
                                        <a href="#/segmentation/rules">Rules</a>
                                    </li>
                                    <li data-shortcut="T">
                                        <a href="#/tag">Tags</a>
                                    </li>
                                    <li>
                                        <a href="#/profile">Profiles</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#/social">Social</a>
                            </li>
                            <li>
                                <a href="#/siteSearch">Site Search</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Prospects -->
                    <li class="dropdown ">
                        <a class="dropdown-toggle" id="pro-tog"><i class="icon-group"></i> <span>Prospects</span></a>
                        <ul id="dropmenu-prospects" class="dropdown-menu" aria-labelledby="pro-tog">
                            <li data-shortcut="P">
                                <a href="#/prospect">Prospect List</a>
                            </li>
                            <li>
                                <a href="#/prospect/oneToOneEmails">One-to-One Emails</a>
                            </li>
                            <li>
                                <a href="#/prospectAccount">Prospect Accounts</a>
                            </li>
                            <li data-shortcut="V">
                                <a href="#/visitor">Visitors</a>
                            </li>

                        </ul>
                    </li>

                    <!-- Reports -->
                    <li class="dropdown ">
                        <a class="dropdown-toggle" id="repo-tog"><i class="icon-bar-chart"></i> <span>Reports</span></a>
                        <ul id="dropmenu-reports" class="dropdown-menu" aria-labelledby="repo-tog">
                            <li>
                                <a href="#/report">Campaigns</a>
                            </li>
                            <li class="">
                                <a href="#/report/gooddata">Good Data</a>
                            </li>
                            <li class="">
                                <a href="#/content/report">Content</a>
                            </li>
                            <li>
                                <a href="#/conversion/report">Conversions</a>
                            </li>
                            <li>
                                <a href="#/email/report">Emails</a>
                            </li>
                            <li class="">
                                <a href="#/event">Events</a>
                            </li>
                            <li class="">
                                <a href="#/form/report">Forms</a>
                            </li>
                            <li>
                                <a href="#/landingPage/report">Landing Pages</a>
                            </li>
                            <li class="">
                                <a href="#/lifecycle/report">Lifecycle</a>
                            </li>
                            <li class="">
                                <a href="#/naturalSearch/report">Natural Search</a>
                            </li>
                            <li class="">
                                <a href="#/olark/report">Olark</a>
                            </li>
                            <li>
                                <a href="#/opportunity/report">Opportunities</a>
                            </li>
                            <li>
                                <a href="#/paidSearch">Paid Search</a>
                            </li>
                            <li>
                                <a href="#/siteSearch/report">Site Search</a>
                            </li>
                            <li class="">
                                <a href="#/social/report">Social</a>
                            </li>
                            <li class="">
                                <a href="#/webinar">Webinars</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Admin -->
                    <li class="dropdown ">
                        <a class="dropdown-toggle" id="admin-tog"><i class="icon-briefcase"></i> <span>Admin</span></a>
                        <ul id="dropmenu-admin" class="dropdown-menu" aria-labelledby="admin-tog">
                            <li>
                                <a href="#/administration">Overview</a>
                            </li>

                            <div nav id="flyout">
                                <ul>

                                    <!-- dropdown -->
                                    <li>
                                        <a href="#/pageAction">Automation Settings</a>
                                        <ul>
                                            <li><a href="#/pageAction">Page Actions</a></li>
                                            <li><a href="#/scoringRules">Scoring Rules</a></li>
                                            <li><a href="#/filter">Visitor Filters</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- dropdown -->


                            <li>
                                <a href="#/connector">Connectors</a>
                            </li>



                            <div nav id="flyout">
                                <ul>

                                    <!-- dropdown -->
                                    <li>
                                        <a href="#/prospectAccount/configureFields">Configure Fields</a>
                                        <ul>
                                            <li><a href="#/prospectAccount/configureFields">Account Fields</a></li>
                                            <li><a href="#/opportunity/configureFields">Opportunity Fields</a></li>
                                            <li><a href="#/prospectField">Prospect Fields</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <li>
                                <a href="#/customObject">Custom Objects</a>
                            </li>


                            <div nav id="flyout">
                                <ul>

                                    <!-- dropdown -->
                                    <li>
                                        <a href="#/import">Import</a>
                                        <ul>
                                            <li><a href="#/import">Prospects</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>


                            <li>
                                <a href="#/administration/recycleBins">Recycle Bin</a>
                            </li>
                            <li>
                                <a href="#/security">Security</a>
                            </li>
                            <li>
                                <a href="#/systemEmail">System Emails</a>
                            </li>


                            <div nav id="flyout">
                                <ul>

                                    <!-- dropdown -->
                                    <li>
                                        <a href="#/">User Management</a>
                                        <ul>
                                            <li><a href="#/user">Users</a></li>
                                            <li><a href="#/group">Groups</a></li>
                                            <li><a href="#/role">Roles</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>


                        </ul>





                    </li>
                </ul>
                <ul class="nav pull-right">
                    <div class="search pull-left">
                        <form action="#/search" method="get" class="form form-search" autocomplete="off">
                            <div style="display:none;"><input type="hidden" name="_csrf_token" value="336cf4c4bb01aa9824ffa35228f0bb8d069482be9f32bf0b2196913df05fb2000d4cffec4f7ca618f162b936842e9bcf"></div>
                            <div class="input-append">
                                <input type="text" name="query" id="query" value="" class="text input-small search-query" placeholder="search" autocomplete="">										<button type="submit" class="btn"><i class="icon-search"></i></button>
                            </div>
                            <div style="display:none;" class="error" id="error_for_search"></div>

                            <div id="search-results-wrapper" class="dropdown">
                                <ul id="search-results" class="dropdown-menu dropdown-no-pointer" role="menu" aria-labelledby="searchResultsMenu">
                                    <li id="search-results-searching"><img src="/script/indicator.gif" alt=""> Searching</li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <li id="menu-account" class="dropdown">
                        <a class="dropdown-toggle" id="acct-tog">
                            <span>cchiang@hotmail.com</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="dropmenu-account" class="dropdown-menu" aria-labelledby="acct-tog">
                            <li><a href="#/account">Settings</a></li>
                            <li><a href="#/account/grantAccess">Grant Account Access</a></li>

                            <li><a href="#/administration/toggleFiltered">Show Filtered Activities <span class="label">off</span></a></li>
                            <li class="divider"></li>
                            <li><a href="#/user/logout"><i class="icon-signout"></i> Sign Out</a></li>
                        </ul>
                    </li>
                    <li id="menu-help">
                        <a id="help-drawer-toggle" class="js-toggle-help-drawer" href="#/social#" data-original-title=""><strong class="help-drawer-bg"></strong><i class="icon-question-sign js-toggle-help-drawer-icon"></i> <span class="js-toggle-help-drawer-text">Help</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
